//font family
$base-font:'Quicksand', sans-serif;

//font size
$base-font-size: 15px;

//colors
$base-color: #961B46;
$text-color: #6c6c6c;
$placeholder-color: #8d8d8d;
$heading-color:#282828;
$blue:#178fd8;
$dark-blue:#006eb1;
$yellow:#e77515;



//notifications colors
$error: #721c24;
$valid: #155724;

//wrapper width
$wrapper-width: 1200px;